.background{
  background: url("http://www.temporadafinal.com/gallery/5637pretty-little-liars-spoilers.jpg");
}
.av{
  background-image: url("http://www.publicdomainpictures.net/pictures/130000/velka/white-background.jpg");
}
p{
  font-style: italic;
  font-size: 18px;
  color: black;
  text-align: justify;
}
